@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth fonts for red header look */
html, body { font-synthesis-weight: none; }

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}
